.login-form{

    width: 30%;
    margin: auto;
    margin-top: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: gray;
 
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.login-form input{
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 5px;
    height: 35px;

}

.login-form button{
    width: 40%;
    margin: auto;
    border-radius: 10px;
    height: 35px;


}

.login-form p{
    color: red;
    margin-top: 25px;
}
